### Importing the libraries required

In [89]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

### Reading the data

In [90]:
df = pd.read_csv("01-Petrol_consumption.txt")

Reading first 5 rows of the data

### Performing EDA

In [91]:
df.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

### Information about the data

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Petrol_tax                    48 non-null     float64
 1   Average_income                48 non-null     int64
 2   Paved_Highways                48 non-null     int64
 3   Population_Driver_licence(%)  48 non-null     float64
 4   Petrol_Consumption            48 non-null     int64
dtypes: float64(2), int64(3)
memory usage: 2.0 KB

### Describing  the data

In [93]:
df.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

### Check shape of the data

In [94]:
df.shape

(48, 5)

Check if any null values are present in the data

In [95]:
df.isna().sum()

Petrol_tax                      0
Average_income                  0
Paved_Highways                  0
Population_Driver_licence(%)    0
Petrol_Consumption              0
dtype: int64

### corelation about the data

In [96]:
corr=df.corr()
corr

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
Petrol_tax,1.000000,0.012665,-0.522130,-0.288037,-0.451280
Average_income,0.012665,1.000000,0.050163,0.157070,-0.244862
Paved_Highways,-0.522130,0.050163,1.000000,-0.064129,0.019042
Population_Driver_licence(%),-0.288037,0.157070,-0.064129,1.000000,0.698965
Petrol_Consumption,-0.451280,-0.244862,0.019042,0.698965,1.000000

### Transform the dataset
### Divide the data into feature(X) and target(Y) sets.

In [97]:

X= df.iloc[:, :-1].values
Y = df.iloc[:, -1].values

Split data into train, test sets

In [98]:
#importing the libraries required to perform linear regression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error,r2_score

In [121]:
clf=LinearRegression()
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.25,random_state=45)

Fitting the model

In [122]:
reg =clf.fit(X_train, Y_train)

In [123]:

predictions = reg.predict(X_test)
print('MSE : ',mean_squared_error(Y_test,predictions))
print('R2_score:',r2_score(Y_test,predictions))

MSE :  1907.0959980008765
R2_score: 0.8357567217397363

In [102]:
predictions

array([734.67436795, 447.0410097 , 665.77940823, 684.36913781,
       514.00079721, 712.89856062, 505.73875831, 570.78572647,
       501.41181462, 296.16913123])

In [103]:
output=pd.DataFrame([Y_test,predictions],index=['REAL' ,'PREDICTED'])
output

,0,1,2,3,4,5,6,7,8,9
REAL,644.000000,547.00000,632.000000,587.000000,510.000000,649.000000,414.000000,571.000000,467.000000,344.000000
PREDICTED,734.674368,447.04101,665.779408,684.369138,514.000797,712.898561,505.738758,570.785726,501.411815,296.169131

In [104]:
grid={}

In [107]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RepeatedKFold
cv=RepeatedKFold(n_splits=5,n_repeats=3,random_state=1)
grid=dict()
grid['alpha']=np.arange(0,1,0.1)
ridge=Ridge()
ridge_reg=GridSearchCV(ridge,grid,scoring='neg_mean_absolute_error',cv=cv,n_jobs=-1)
ridge_reg.fit(X,Y)

GridSearchCV(cv=RepeatedKFold(n_repeats=3, n_splits=5, random_state=1),
             estimator=Ridge(), n_jobs=-1,
             param_grid={'alpha': array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])},
             scoring='neg_mean_absolute_error')

In [108]:
ridge_pred=ridge_reg.predict(X_test)
print('MSE of RIDGE REGREESOR :',mean_squared_error(Y_test,ridge_pred))
print('r2_score of RIDGE REGREESOR :',r2_score(Y_test,ridge_pred))

MSE of RIDGE REGREESOR : 2850.7032679281565
r2_score of RIDGE REGREESOR : 0.6992246904173249